<div class="main-container">

  <div class="carousel">
    <div #leftCard class="left-card"></div>
    <div #mainCard class="card">
      <div class="btn-row">
        <button (click)="backwards()">
        <span class="material-symbols-outlined">
arrow_back_ios
</span>
        </button>
        <button (click)="forward()">
       <span class="material-symbols-outlined">
arrow_forward_ios
</span>
        </button>

      </div>
    </div>
    <div #rightCard class="right-card"></div>
  </div>

</div>
